header {
    color: var(--black);
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

header h1 {
    text-align: center;
    font-size: 5rem;
}

#back {
    width: 80%;
    text-align: start;
}

header p {
    text-align: center;
    width: 50%;
    align-self: center;
    font-size: 2rem;
}

#project-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (max-width: 1100px) {
    header h1 {
        font-size: 4rem;
        margin: 1rem 0;
    }

    header p {
        width: 80%;
        font-size: 1.5rem;
    }
}